@font-face {
    font-family: 'BitterRose';
    src: url('../fonts/Bitter\ Rose\ DEMO.otf') format('opentype'); /* Adjust the file name and format as needed */
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #050505;
}

header {
    background-color: #050505;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align items in header with space between */
    align-items: center;
    margin: 0px 50px;
}

.header-left img {
    width: 100px;
    height: auto;
}

.menu-nav {
    display: flex;
    font-family: 'Chillax', sans-serif;
}

.menu-nav a {
    text-decoration: none;
    color: #FACE8D;
    font-size: 20px;
    margin-right: 40px;
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 20px;
    padding: 8px 16px;
}

.menu-nav a:hover {
    background-color: #FACE8D; 
    color: #050505;
    font-family: 'Chillax', sans-serif;
}
