@font-face {
            font-family: 'BitterRose';
            src: url('assets/fonts/Bitter\ Rose\ DEMO.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Chillax';
            src: url('assets/fonts/Chillax-Medium.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: black;
            position: relative;
            opacity: 0; /* Start with opacity set to 0 */
            animation: fadeIn 1s ease-in-out forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0; /* Start with opacity set to 0 */
            }
            to {
                opacity: 1; /* End with opacity set to 1 */
            }
        }

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        .content {
            text-align: center;
            padding: 20px;
        }

        header {
            text-align: center;
            position: relative;
        }

        .logo {
            position: absolute;
            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            height: auto;
        }

        .overlay-text {
            position: absolute;
            margin-top: 300px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'BitterRose', sans-serif;
            font-size: 90px;
            color: #FACE8D;
        }

        .menu-text {
            position: absolute;
            margin-top: 400px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Chillax', sans-serif;
            font-size: 90px;
            color: #FFFF;
        }

        .scroll-down-button {
            position: absolute;
            font-family: 'Chillax', sans-serif;
            margin-top: 500px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #FACE8D;
            color: #000;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none; /* Remove underline for links */
            font-size: 18px;
            cursor: pointer;
        }

        .down-arrow {
            color: #FFFF;
            position: absolute;
            top: calc(100vh - 60px);
            left: calc(50% - 14px);
            width: 0;
            height: 30px;
            border: 2px solid;
            border-radius: 2px;
            }

        .down-arrow:after {
            content: " ";
            position: absolute;
            top: 12px;
            left: -10px;
            width: 16px;
            height: 16px;
            border-bottom: 4px solid;
            border-right: 4px solid;
            border-radius: 4px;
            transform: rotateZ(45deg);
        }

        @keyframes jumpInfinite {
            0% {
                margin-top: 0;
            }
            50% {
                margin-top: 20px;
            }
            100% {
                margin-top: 0;
            }
        }

        .down-arrow {
  
            animation: jumpInfinite 1.5s infinite;
        }

        .menu-nav {
            text-align: center;
            padding: 20px;
            margin: 20px 0;
            list-style: none;
        }

        .menu-nav ul {
            display: inline-block;
        }

        .menu-nav li {
            float: left;
            margin: 0 10px;
        }

        .menu-nav li a {
            text-decoration: none;
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            padding: 10px 15px;
            font-family: 'Chillax', sans-serif;
            margin: 0 40px;
            border: none;
            border-radius: 10px;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            background-color: transparent;
            border:2px solid #000000;
        }

        .menu-nav li a:hover {
            background-color: rgba(0, 0, 0, 0.642);
            border:2px solid #FACE8D;
            margin: 0 40px;
            
            color: #FACE8D;
        }
